<div class="examBox">
    <div class="examhead text-center">
        <h2>{{subject?.name}} test </h2>
    </div>
    <div class="quizBox" *ngFor="let item of subject?.questions;let i =index ">
        <strong><span class="text-danger">Question {{i+1}} :</span> {{item?.question}}</strong>
        <div class="row mt-3">
            <div class="col-md-6 col-sm-12">
                <mat-radio-button name="{{i}}" value="{{item.answerA}}" (change)="getAnswer($event)" color="primary"
                    *ngIf="user?.role == 'students' && !showResult && validExam"></mat-radio-button>
                <label>A. {{item.answerA}}</label>
            </div>

            <div class="col-md-6 col-sm-12">
                <mat-radio-button name="{{i}}" value="{{item.answerB}}" (change)="getAnswer($event)" color="primary"
                    *ngIf="user?.role == 'students' && !showResult && validExam"></mat-radio-button>
                <label>B. {{item.answerB}}</label>
            </div>

            <div class="col-md-6 col-sm-12">
                <mat-radio-button name="{{i}}" value="{{item.answerC}}" (change)="getAnswer($event)" color="primary"
                    *ngIf="user?.role == 'students' && !showResult && validExam"></mat-radio-button>
                <label>C. {{item.answerC}}</label>
            </div>

            <div class="col-md-6 col-sm-12">
                <mat-radio-button name="{{i}}" value="{{item.answerD}}" (change)="getAnswer($event)" color="primary"
                    *ngIf="user?.role == 'students' && !showResult && validExam"></mat-radio-button>
                <label>D. {{item.answerD}}</label>
            </div>
        </div>
        <div class="text-start" *ngIf="user?.role == 'doctor' ">
            <button mat-raised-button color="warn" (click)="delete(i)">Delete</button>
        </div>

        <hr>
    </div>
    <div class="text-center" *ngIf="user?.role == 'students' ">
        <button class="btn btn-success px-5 fs-5" (click)="getResult()" *ngIf="!showResult && validExam"> Result : </button>
        <span class="fs-4 text-success" *ngIf="showResult || !validExam">Result : {{total}} / {{subject?.questions.length}}</span>
    </div>







</div>